* {
    font-family: "Orbitron", sans-serif;
    padding: 0;
    margin: 0;
    size: 400px;
    
  }

  select{
    width: 100px;
    height: 100px;
    font-size: 0.5em;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    display: inline-block;
}


button{
  background: rgb(253, 253, 253);
  color:rgb(10, 10, 10);
  font-size: 32px;
  padding:8px 20px;
  cursor: pointer;
  border:0;
  margin-left: 10px;
}


h3{
  font-size: 150px;
  text-align: center;
  color: rgb(255, 254, 254);
}
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    padding-top: 3rem;
    background-color: #000000;
  }
  
  .container h1 {
    color: #175cff;
  }
  
  .timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: #333;
  }
  
  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 10px;
    color: #172953;
    min-width: 90px;
  }
  
  .separator {
    font-size: 60px;
    padding: 0 10px;
    color: #525763;
  }
  
  #milliseconds {
    font-size: 30px;
    color: #525763;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  #startBtn {
    background-color: #175cff;
    color: #fff;
  }

  
.negativo {
  color: red; /* Cor vermelha para o texto negativo */
}

.display{
  display: inline-flex;
  
}

.pause{
 margin-left: 50px;
  width: 70px;
  height: 70px;
}
